.container {
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    /* margin-top: 2rem; */
    /* border-radius: 5px; */
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80ebed;
}

.header h1 {
    font-size: 3.6rem;
    font-weight: 400;
    color: #fff;
}