.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding-top: 3rem;
    max-width: 90%;
    margin: 0 5%;
}

.header {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006063;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.header h1 {
    font-size: 3.6rem;
    font-weight: 400;
    color: #f8f8f8;
}

.footer {
    font-size: 1.4rem;
    background-color: #111;
    color: #f8f8f8;
    letter-spacing: 1.2px;
    padding: 3rem 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        padding-top: 0;
        max-width: 100%;
        margin: 0;
    }

    .header {
        border-radius: 0;
    }
}