.form__container {
    padding: 3rem 2rem;
    background-color: #f8f8f8;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, .1); */
}


/**************************** FORM ***************************/

.form__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.form__title-label {
    margin-right: 2rem;
}

.form__title input {
    padding: .5rem .5rem;
    outline: none;
    border: 1px solid #bbb;
    font-size: 2rem;
    font-weight: 400;
}

.form__description {
    font-size: 1.6rem;
}

.italic-light {
    font-size: 1.4rem;
    color: #333;
}

.form__description textarea {
    font-size: 1.6rem;
    display: block;
    margin-top: 1rem;
    height: 8rem;
    width: 97%;
    padding: .5rem .5rem;
    outline: none;
    border: 1px solid #bbb;
}

.btn-submit,
.btn-options {
    background-color: #006063;
    display: block;
}

.btn-options {
    padding: 1rem 3rem !important;
}

.form__warn-msg-active {
    display: block;
    margin-top: .5rem;
    width: 50%;
    color: rgb(255, 20, 20);
}

.form__warn-msg-inactive {
    display: none;
}


/**************************** BASIC FORM ***************************/
.add {
    display: inline-block;
    font-size: 2rem;
    padding: .8rem;
    background-color: #006063;
    text-align: center;
    color: #f8f8f8;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form__content {
    display: flex;
    align-items: flex-start;
}

.basic-form__title {
    flex: 1;
}

.basic-form__title input {
    width: 98%;
}

/**************************** COMPLETE FORM ***************************/

.complete__title input {
    width: 50%;
}

.complete-form__warn-msg {
    margin-left: 9.8rem;
}


/*/////////////////////// Responsive /////////////////////////////*/


@media only screen and (max-width: 600px) {
    .form__container {
        border-radius: 0;
    }
}